.section-site{
    padding: 50px 0;
}
.section-title{
    position: relative;
    font-weight: 700;
    margin: 0 0 150px;
    font-size: 12.8rem;
    color: $light-grey;
}
.section-content{
    padding: 0 0 0 200px;
}
