.section-site{
    padding: 50px 0;
}
.section-title{
    position: relative;
    font-weight: 700;
    margin: 0 0 1.15em;
    font-size: 12.8rem;
    color: $light-grey;
}
.section-content{
    padding: 0 0 0 200px;
}

@media(max-width: $desktop){
	.section-title{
        font-size: 10rem;
    }
}
@media(max-width: $desktop-small){
    .section-title{
        font-size: 8rem;
    }
}
@media(max-width: $tablet){
    .section-title{
        font-size: 6rem;
    }
    .section-content{
        padding: 0 0 0 150px;
    }
}
@media(max-width: $phone){
    .section-title{
        font-size: 4rem;
    }
    .section-content{
        padding: 0;
    }
}
