<!DOCTYPE html>
<html lang="fr-FR" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="UX designer en apprentissage chez Stéréosuper depuis 1 an et demi.">
    <!-- Meta Facebook -->
    <meta property="og:title" content="www.guillaumecaillet.fr">
    <meta property="og:image" content="img/favicon-gc.png">
    <meta property="og:description" content="UX designer en apprentissage chez Stéréosuper depuis 1 an et demi.">
    <!-- Meta Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Guillaumeclt1">
    <meta name="twitter:creator" content="@Guillaumeclt1">
    <meta name="twitter:title" content="Guillaume CAILLET / UX designer">
    <meta name="twitter:description" content="UX designer en apprentissage chez Stéréosuper depuis 1 an et demi.">
    <meta name="twitter:image" content="http://guillaumecaillet.fr/dev/img/favicon-gc.png">
    <title></title>
    <link rel="icon" type="image/png" href="img/favicon-gc-white.png">
    <link rel="stylesheet" href="css/main.css">
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-85891085-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body>
    <div class="site-background">
        <div class="trait horizontal1"></div>
        <div class="trait vertical"></div>
        <div class="trait vertical2"></div>
        <div class="trait vertical3"></div>
        <div id="wrapper-end">
            <div class="trait horizontal2"></div>
            <p class="bold big white">À bientôt !</p>
        </div>
        <div class="trait contact"></div>
    </div>
    <header>
        <h1 class="big">Guillaume CAILLET</h1>
        <nav class="js-nav">
            <ul>
                <li><a href="#about" class="links-hover">A propos</a></li>
                <li><a href="#contact" class="links-hover">Contact</a></li>
            </ul>
        </nav>
    </header>
    <section id="about">
        <div class="smallTittle bold">À Propos</div>
        <p><span class="bold">UX designer</span> Nantais, je suis en apprentissage chez <span class="bold">Stéréosuper</span> jusqu'en Septembre. Je termine actuellement la formation <span class="bold">«&nbsp;Web concepteur&nbsp;»</span> au CESI de Nantes.<br/>Futur étudiant à <span class="bold">l'&#8239;ECV&nbsp;Digital</span> de Nantes. </p>
        <!-- <div id="bg-img"></div> -->
    </section>
    <section id="projet" >
        <h2>Projet 1</h2>
        <h2>Porjet 2</h2>
        <h2>Porjet 3</h2>
    </section>
    <section id="contact" class="black">
        <div class="smallTittleGris bold">Contact</div>
        <p class="bold">Vous pouvez me retrouver sur <a target="_blank" href="https://twitter.com/Guillaumeclt1" class="links-hover twitter">Twitter</a> <a target="_blank" href="https://www.linkedin.com/in/guillaume-caillet-09875383/" class="links-hover linkedin">LinkedIn</a> <a target="_blank" href="https://dribbble.com/Guillaumeclt1" class="links-hover dribbble">Dribbble</a></p>
    </section>
    <footer></footer>
    <script src="js/main.js" defer="defer"></script>
</body>

</html>