/* Home specific style */

html {
	background-color: $grey;
}
nav.white {
	color: $white;
}

#about {
	#bg-img{
		background-image:url(../img/head.png);
		background-repeat: no-repeat;
		height: 387px;
		width: 403px;
		position: absolute;
		opacity: 0.3;
		z-index: -1;
		right: 180px;
		bottom: -25px;

	}
	.smallTittle{
		position: absolute;
		margin-top: 65px;
		margin-left: 27px;
		font-size: 8em;
		opacity: 0.1;
		letter-spacing: -4px;
		z-index: -1;
	}
	position: relative;
    clear: both;
    width: 100%;
    height: calc(100vh - 72px);
	p{
		position: relative;
		width: 700px;
		top: 50%;
		margin-left: 25%;
		margin-right: auto;

		font-size: 1.5em;
		line-height: 1.29;
	}
}

#contact, #projets {
	height: 100vh;
	min-height: 500px;
	.smallTittleGris{
		padding-top: 7%;
		margin-left: 30px;
		color: $grey;
		font-size: 8em;
		opacity: 0.1;
		letter-spacing: -4px;
		z-index: 0;
	}
}
#contact{
	p{
		width: 650px;
		margin: 0 auto;
		color: $dark-grey;
		&:nth-child(2){
			font-size: 1.25em;
			position: absolute;
			left: 25%;
			bottom: -43%;
			width: auto;
		}
		a{
			color: $white;
		}
		.links-hover
		{
			position: relative;
			display: inline-block;
		}

		.links-hover::after
		{
			width: 0;
			height: .1em;
			position: absolute;
			top: 100%;
			left:0;
			background-color: $yellow;
			content: '';
			transition: .3s ease;
		}
		.twitter::before, .linkedin::before, .dribbble::before{
		    display: inline-block;
		    width: 20px;
		    height: 20px;
		    background-size: 100% auto;
		    background-position: center;
		    content: '';
		}
		.twitter, .linkedin, .dribbble{
			margin: 0 10px 0 0;
			vertical-align: middle;
		}
		.twitter::before{
			background-image: url(../img/twitter.png);
			margin-right: 5px;
			margin-bottom: 2px;
		}
		.linkedin::before{
			background-image: url(../img/linkedin.png);
			margin-right: 5px;
			margin-bottom: 2px;
		}
		.dribbble::before{
			background-image: url(../img/dribbble.png);
			margin-right: 5px;
			margin-bottom: 2px;
		}
		.links-hover:hover::after
		{
			width: 100%;
		}
	}
}
.site-background{
	#wrapper-end{
	    position: absolute;
	    color: #fff;
	    width: 50%;
	    left: 22%;
	    bottom: -48.3%;
	}
	.horizontal2{
		top: 28%;
		left: 0;
		width: 100%;
		height: 4px;
	}
	p{
		position: absolute;
		padding: 0 10px;
		width: 235px;
		top: -28px;
		left: 100%;
	}
}

@media screen and (max-width: 1024px) {
	#about {
		#bg-img {
		    bottom: -25px;
		    right: 0;
		}
	}
}
@media screen and (max-width: 979px) {
	nav {
		ul {
			li {
				margin: 5px 15px 5px 30px;
			}
		}
	}
	#about{
		p{
			font-size: 1.2em;
			width: 60%;
		}
	}
}
@media screen and (max-width: 768px) {
	nav {
		margin: 29px 0 0 0;
		ul {
			li {
				display: block;
				    margin: 5px 15px 5px 30px;
			}
		}
	}
	#about{
		.smallTittle{
			font-size: 4.5em;
			opacity: 0.1;
		}
	}
	#contact{
		.smallTittleGris{
			font-size: 5em;
			opacity: 0.1;
		}
		p{
			&:nth-child(2){
				left: 15%;
			}
		}
	}
	.site-background {
		#wrapper-end {
		    left: 12%;
		}
	}
}
@media screen and (max-width: 600px) {
	.site-background {
		#wrapper-end {
		    .horizontal2 {
		    	width: 70%;
		    }
		    p{
		    	left: 70%;
		    }
		}
	}
	#about{
		img{
			max-width: initial;
			width: 100%;
			bottom: -24%;
		}
	}
	#contact {
		p:nth-child(2) {
		    width: 300px;
	    	line-height: 2;
	    }
	}
}

@media screen and (max-width: 415px) {

	#about {
		height: 700px;
		.smallTittle {
		    margin-left: 2%;
		}
		p{
			top: 25%;
			font-size: 1.3em;
			width: 70%;
			margin-left: auto;
		}
		img{
			bottom: -16%;
		}
	}
	#contact {
		.smallTittleGris {
			margin-left: 2%;
		}
		p:nth-child(2) {
			position: absolute;
			bottom: -64%;
		    font-size: 1.25em;
		    width: 80%;
		    line-height: 2;
		}
		p:nth-child(3) {
		    margin: 70px 0 0 30px;
		    width: auto;
		}
	}
	.horizontal1, .vertical, .vertical2, .horizontal2{
		display: none;
	}
	.site-background{
		#wrapper-end{
			p {
			    left: 60%;
			    top: 180px;
			}	
		}
	}
}

@media screen and (max-width: 399px){
	h1{
		margin-left: 0.2em;
		margin-top: 0;
	}
	nav {
		width: 40%;
	}
	.site-background {
		#wrapper-end {
			p {
			    left: 36%;
			    top: 345px;
			    width: 250px;
			}
		}
	}
	#contact {
		p:nth-child(2) {
		    bottom: -100%;
		}
	}
}