/* Footer */
#footer{
    padding: 0 0 100px;
}
.outro{
    display: flex;
    justify-content: flex-end;
    margin: 15px -10px 0 0;
    text-align: right;
    font-size: 4rem;
    color: $white;
    font-weight: 700;
    span{
        position: relative;
        padding: 10px;
        background: $black;
        z-index: 1;
    }
}

@media(max-width: $desktop-small){
    .outro{
        font-size: 3rem;
    }
}
@media(max-width: $phone){
    .outro{
        justify-content: flex-start;
        font-size: 2rem;
        margin: 25px 0 0;
        span{
            padding: 0;
        }
    }
}
