/* Header */
header{
	height: 72px;
	h1{
		letter-spacing: -1px;
	}
}
nav{
	margin: 2em 0 0 0;
	width: 30%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1;
	ul{
		margin: 0;
		text-align: right;
		li{
			display: inline-block;
			margin: 0 40px;
			.links-hover{
				position: relative;
				display: inline-block;
			}

			.links-hover::after{
				width: 0;
				height: .1em;
				position: absolute;
				top: 100%;
				left:0;
				background-color: $yellow;
				content: '';
				transition: .3s ease;
			}

			.links-hover:hover::after{
				font-weight: 700;
				width: 100%;
			}
			.links-hover::active{
				font-weight: bold;
			}
		}
	}
}