/* Header */
#header{
	padding: 30px 0 50px 0;
	.container{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.menu-header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style-type: none;
	margin: 0;
	> li{
		margin: 0 150px 0 0;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			a{
				font-weight: 700;
				&:before{
					transform: scale(1);
				}
			}
		}
	}
	a{
		position: relative;
		padding: 5px 0;
		font-weight: 400;
		font-size: 1.6rem;
		&:before{
			height: 4px;
		}
	}
}

@media(max-width: $desktop){
	.menu-header{
		>li {
			margin: 0 100px 0 0;
		}
	}
}
@media(max-width: $desktop-small){
	.menu-header{
		>li {
			margin: 0 50px 0 0;
		}
	}
}
@media(max-width: $tablet){
	#header{
		.container{
			display: block;
		}
	}
	.menu-header{
		justify-content: flex-start;
		margin: 10px 0 0 0;
	}
}
