/* BG */
.wrapper-global{
  position: relative;
}
.wrapper-traits{
  display: block;
  width: 1160px;
  max-width: calc(100% - 40px);
  position: absolute;
  top: 0;
  left: 50%;
  bottom: 0;
  transform: translate3d(-50%, 0, 0);
  pointer-events: none;
}
.trait {
  position: absolute;
	background: $yellow;
  transform-origin: 0 0;
  &.horizontal-top{
    height: 8px;
    width: 100%;
    top: 220px;
    right: calc(100% - 150px);
  }
  &.vertical{
    width: 8px;
    top: 220px;
    bottom: 174px;
    left: 150px;
  }
  &.horizontal-bottom{
    height: 8px;
    bottom: 174px;
    left: 150px;
    right: 0;
  }
}

@media(max-width: $desktop){
  .trait {
    &.horizontal-top{
      top: 195px;
    }
    &.vertical{
      top: 195px;
    }
  }
}
@media(max-width: $desktop-small){
  .trait {
    &.horizontal-top{
      top: 170px;
    }
    &.vertical{
      top: 170px;
    }
  }
}
@media(max-width: $tablet){
  .trait {
    &.horizontal-top{
      right: calc(100% - 100px);
      top: 148px;
    }
    &.vertical{
      left: 100px;
      top: 148px;
    }
    &.horizontal-bottom{
      left: 100px;
    }
  }
}
@media(max-width: $phone){
  .wrapper-traits{
    display: none;
  }
}
