/* BG */
.trait {
	position: absolute;
	background: #e4c411;
	transform-origin: 0 0;
}
.horizontal1{
  bottom: calc(68% - 4px);
  left: 0;
  width: 22%;
  height: 4px;
  transform: scaleX(0);
}

.vertical{
  bottom: 0;
  left: 22%;
  width: 4px;
  height: 68%;
  transform: scaleY(0);
}

.vertical2{
    top: 100%;
    left: 22%;
    width: 4px;
    height: 48.5%;
    transform: scaleY(0);
}

.vertical3{
  top: 200%;
  left: 22%;
  width: 4px;
  height: 48.5%;
  transform: scaleY(0);
}

#wrapper-end{
  .horizontal2{
    top: 28%;
    left: 0;
    width: 100%;
    height: 4px;
    transform: scaleX(0);
  }

}


// .contact{
// top: 130.5%;
// left: 16%;
// right: 33%;
// width: 6%;
// height: 4px;
// transform: scaleX(0);
// }


@media screen and (max-width: 768px) {
  .horizontal1{
    bottom: calc(68% - 4px);
    left: 0;
    width: 12%;
    height: 4px;
    transform: scaleX(0);
  }

  .vertical{
    bottom: 0;
    left: 12%;
    width: 4px;
    height: 68%;
    transform: scaleY(0);
  }

  .vertical2{
    top: 100%;
    left: 12%;
    width: 4px;
    height: 48.5%;
    transform: scaleY(0);
  }

  .horizontal2{
    top: 148.5%;
    left: 12%;
    right: 33%;
    width: auto;
    height: 4px;
    transform: scaleX(0);
  }
  
}
